/* body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
} */

.footer {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%
}

.navbar {
    background-color: #00407a;
    color: white;
}

.navbar button {
    background-color: white;
    color: #00407a;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}

.badge {
    background-color: #00407a;
    color: white;
}

.sold-out {
    background-color: #8a8a8a;
}

.button-primary {
    background-color: #00407a;
    color: white;
}

.btn-event-controls {
    background-color: #ef3636;
    margin-bottom: 5%;
}

.button-secondary {
    background-color: white;
    color: black;
}

.form {
    color: white;
}

.form label {
    float: left;
}

.form-label {
    float: left;
}

.row {
    align-items: center;
}

.card-lg .date-time {
    text-align: center;
}

.card-sm .date-time {
    text-align: left;
}

.carousel-caption-md {
    text-align: left;
}

.profile-image {
    max-width: 50px;
    max-height: 50px;
}

.modal-body {
    text-align: center;
}

form {
    background: url('static/img/campus-2.jpg');
}

main#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('../img/campus-2.jpg');
}

.auth-container {
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    padding: 2%;
}


.alert {
    margin-top: 2%;
}

.flashes {
    margin: 0;
}

.alert {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    z-index: 999;
}

ul {
    list-style: none;
}

.comments-section h5 {
    text-align: center;
}

.comments-section {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    margin-bottom: 2%;
}

.comments-section ul {
    height: 70vh;
    overflow: scroll;
}

.comment {
    list-style-type: none;
    margin-right: 10%;
    margin-top: 10%;
    padding: 2% 5% 2% 5%;
    border-radius: 10px;
    border: solid 1.5px black;
}