/* body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
} */

.footer {
    text-align: center;
}

.navbar {
    background-color: #00407a;
    color: white;
}

.navbar button {
    background-color: white;
    color: #00407a;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    color: white;
}

.badge {
    background-color: #00407a;
    color: white;
    margin-right: 1%;
}

.sold-out {
    background-color: #8a8a8a;
}

.button-primary {
    background-color: #00407a;
    color: white;
}

.button-secondary {
    background-color: white;
    color: black;
}

.form {
    color: white;
}

.form label {
    float: left;
}

.form-label {
    float: left;
}

.row {
    align-items: center;
}

.card-lg .date-time {
    text-align: center;
}

.card-sm .date-time {
    text-align: left;
}

.carousel-caption-md {
    text-align: left;
}

.profile-image {
    max-width: 50px;
    max-height: 50px;
}

.modal-body {
    text-align: center;
}